{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-unused-vars": ["warn", {
      "args": "all",
      "argsIgnorePattern": "^_"
    }],
    "import/no-extraneous-dependencies": "off",
    "prefer-destructuring": "off",
    "no-mixed-operators": [
      "warn",
      {
        "groups": [
          ["&", "|", "^", "~", "<<", ">>", ">>>"],
          ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
          ["&&", "||"],
          ["in", "instanceof"]
        ],
        "allowSamePrecedence": true
      }
    ]
  }
}
