{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true
  },
  "settings": {
    "import/external-module-folders": ['node_moduless', 'components', 'app']
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-mixed-operators": ["warn", {"allowSamePrecedence": true}],
    "no-shadow": "off",
    "react/require-default-props": "off",
    "prefer-destructuring": ["warn", {
      "VariableDeclarator": {
        "object": true,
        "array": true
      },
      "AssignmentExpression": {
        "array": true,
        "object":false
      }
    }],
    "commented": {
      "--comment--camelcase": "off",
      "--comment--react/prefer-stateless-function": [0],
      "--comment--radix": "off",
      "--comment--react/forbid-prop-types": ["warn", { "forbid": ['object', 'any'] }],
      "--comment--no-use-before-define": ["warn", { "functions": false }],
      "--comment--jsx-a11y/no-autofocus": "off",
      "--comment--jsx-a11y/no-static-element-interactions": "off"
    }
  },
}
