# See https://help.github.com/ignore-files/ for more about ignoring files.

**/node_modules/**

**/build/**
**/dist/**
**/coverage/**
**/tmp/**

.DS_Store
.env
.nyc_output
yarn-error.log
__diff_output__
